<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>Bienvenu sur la page Home</h1>
    <% if (userId === 20) { %>
    <h2>User id : <%= userId %></h2>
    <% } %>
  </body>
</html>
